.additional-footer {
    margin-bottom: 40px;
}
.additional-footer__item--socials {
    width: 25%;
}

@media (max-width: @tablet-width) {
    .additional-footer {
        flex-direction: column;
    }

    .additional-footer__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .additional-footer__item--socials {
        width: 100%;
        order: 2;
    }

    .additional-footer__item--pay {
        order: 1;
    }
}