.button {
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  background-color: inherit;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @main-text;

  border: 1px solid @main-text;
  box-sizing: border-box;
  border-radius: 8px;
  align-self: center;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid @pink;
    color: @pink;
    outline: none;
  }

  &:active {
    border: 1px solid @pink;
    background-color: @pink;
    color: @white;
  }
}

.button-pink {
  display: flex;
  width: 85px;
  justify-content: center;
  text-transform: uppercase;
  color: @pink;
  border: 1px solid @pink;

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  svg {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid @pink;
    background-color: @pink;
    color: @white;
  }
}

.button-pink--active {
  display: none;
}

.quantity {
  display: none;
  padding: 8px 6px;
  width: 85px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  border: 1px solid @pink;
  border-radius: 8px;
  margin-left: auto;
}

.quantity--active {
  display: flex;
}

.quantity__btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  border-radius: 4px;

  &:hover,
  &:active,
  &:focus {
    background-color: @grey-fills;
  }
}

@media (max-width: @mobile-width) {
  .button-pink {
    padding: 10px;
    width: auto;
    border: 2px solid @pink;

    &:hover,
    &:active,
    &:focus {
      border: 2px solid @pink;
      background-color: @pink;

      svg {
        fill: @white;
      }
    }

    span {
      display: none;
    }

    svg {
      display: block;
    }
  }

  .button-pink--active {
    display: flex;
  }
  
  .quantity {
    display: none;
  }
  
  .quantity--active {
    display: none;
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid @grey-lines;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: inherit;

    svg {
      margin-left: 8px;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 1px solid @pink;
      background-color: @pink;
      color: @white;

      svg {
        fill: @white;
      }
    }
  }
}