.footer-section {
    padding-top: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 25%;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.footer-section__title, .footer-title {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.footer-section__title--reviews {
    margin-bottom: 18px;
}