.main-nav {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.main-nav__item--opened {
  .main-dropdown {
    display: flex;
  }
}


@media (max-width: @mobile-width) {
  .main-nav {
    display: none;
  }

  .main-nav--opened {
    display: flex;
    padding: 12px 16px;
    width: 277px;
    background-color: @white;
    z-index: 3;
    overflow: hidden;
  }

  .main-nav__item--opened {
    .nav-item__link {
      padding-left: 30px;
    }

    .dropdown-toggle-left {
      &::after {
        top: 16px;
        left: 0px;
        right: auto;
        background-image: url(../../img/icon/arrow-bold-2.svg);
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: @white;
    }
  }
}