.side-bar {
  padding: 22px 20px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  padding-bottom: 170px;
  max-height: 800px;
  width: 280px;
  position: relative;
}

.side-bar__lodo {
  margin-bottom: 20px;
}

.side-bar__toogle {
  display: none;
}

@media (max-width: @tablet-width) {
  .side-bar {
    max-height: 100%;
  }
}

@media (max-width: @mobile-width) {
  .side-bar {
    padding: 0px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .side-bar__mobile-wrapper {
    background-color: @grey-fills;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 16px;
    padding-top: 9px;
  }

  .side-bar__logo {
    display: block;
    padding: 0;
    padding-left: 17px;
    img {
      width: 150px;
      height: 28px;
    }
  }

  .side-bar__toogle {
    display: block;
    padding: 0;
    background-color: inherit;
    border: none;
    width: 18px;
    height: 18px;
    position: relative;
    background-image: url(../../img/icon/menu.svg);
    background-position: 0px 3px;
    background-size: 18px;
    background-repeat: no-repeat;
  }

  .side-bar__toogle--close {

    background-image: url(../../img/icon/close-big.svg);
    background-position: 0px 3px;
    background-size: 18px;
    background-repeat: no-repeat;
  }

  .overlay {
    position: fixed;
    z-index: 3;
  
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    width: 100%;
    height: 100%;
    overflow: auto;
  
    background-color: rgba(0, 0, 0, 0.5);
  }
}
