.site-nav {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 0 40px;
  background-color: @grey-fills;
}

.site-nav__item--city {
  a {
    padding: 0;
  }

  padding: 24px 24px 24px 0;
  margin-right: 30px;
}

.site-nav__item--tel {
  margin-left: auto;
  svg {
    display: none;
  }
  a {
    margin-right: 24px;
    ;
  }
}

@media (max-width: @tablet-width) {
  .site-nav {
    justify-content: center;
    padding-bottom: 16px;
  }
  .site-nav__item--tel {
    margin-left: 0;
  }
}

@media (max-width: @mobile-width) {
  .site-nav {
    background-color: inherit;
    padding: 0 16px;
  }
  .site-nav__item--tel {
    position: fixed;
    z-index: 3;
    top: 16px;
    right: 88px;
    width: 18px;
    height: 18px;
    a {
      margin: 0;
    }
    svg {
      display: block;
    }
    span {
      display: none;
      ;
    }
    button {
      display: none;
    }
  }
  .site-nav__item--shop {
    display: none;
  }
  .site-nav__item--city {
  
    padding: 8px 0;
    margin-right: 30px;
  }
}