body {
  margin: 0 auto;
  padding: 0;
  font-family: @main-font;
}

input {
  font-family: @main-font;
}

button {
  font-family: @main-font;
}

textarea {
  font-family: @main-font;
  overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="file"] {
  display: none;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-toggle-left {
  &::after {
    border: 0;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 12px;
    height: 12px;
    background-image: url(../../img/icon/arrow-bold-1.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.dropdown-toggle-bottom {
  &::after {
    border: 0;
    display: block;
    position: absolute;
    top: 8px;
    right: -20px;
    width: 12px;
    height: 12px;
    background-image: url(../../img/icon/arrow-bold-3.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.link-type {
  display: flex;
  align-items: center;
  a {
    &:hover, &:focus {
      color: @pink;
      svg {
        fill: @pink;
      }
    }
  }
}

a {
  color: @main-text;

  &:hover {
    color: @main-text;
    text-decoration: none;
  }

  &:active {
    color: @main-text;
  }
}

.bg-grey {
  background-color: @grey-fills;
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}